& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="bandcreateevent-vc"] {

    }
}

.eventFieldsContainer{
    
    // max-width:25%;
    margin-left:auto;
    margin-right:auto;
    height:200px;
    // border: 2px solid black;
}

.eventFields{
    // max-width:100%;
    margin-left:auto;
    margin-right:auto;
    
    ul {
        padding-left: 0;
        display:inline;
        li {
            display:block;
            
            // input {
            //     display: block;
            //     margin-left: auto;
            //     margin-right: auto;
            //}
        }
    }
}