& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="bandcreateevent-vc"] {
        .inputField {
            text-align: center;
            width: 60%;
            height: 2em;
            line-height: 2em;
            border-radius: 0.2em;
            border-color: #999;
        }
        #enterButt {
            background-color: #666;
        }
        #enterButt:hover {
            color: white !important;
            background-color: #333;
        }
        #locationButt:hover {
            color: white !important;
            background-color: #003c96;
        }
        #addButt:hover {
            color: white !important;
            background-color: green;
        }
    }
}

