& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="banddashboard-vc"] {
        #editProfile {
            color: #333;
            background-color: #eee;
            border-color: #333;
        }
        
        #createEvent {
            background-color: #333;
            color: #eee;
        }
    }
}
