& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="banddashboard-vc"] {
       
        
        
        #editProfile {
            color: #333;
            background-color: #eee;
            border-color: #333;
        }
        #editProfile:hover {
           color: #2d97d2;
           border-color: #2d97d2;
        }
        
        #createEvent {
            background-color: #333;
            color: #eee;
        }
        #createEvent:hover {
            background-color: #2d97d2;
            color: #eee;
            border-color: #eee;
        }
        
        #delete {
            color: #333;
            border-color: #333;
            background-color: transparent;
        }
        #delete:hover {
            color: red;
            border-color: red;
        }
        
        .borderClass {
            border-bottom: 1px solid #2d97d2;
            padding-bottom: 0.3em;
        }
        ::-webkit-input-placeholder {
            color: #2d97d2;
            }

            :-moz-placeholder { /* Firefox 18- */
            color: #333;  
            }

            ::-moz-placeholder {  /* Firefox 19+ */
            color: #333;  
            }

            :-ms-input-placeholder {  
            color: #333;  
            }
    }
    .editEvent {
        color: #2d97d2 !important;
        border-color: #2d97d2 !important;
    }
    
    .editEvent:hover {
        color:  #333 !important;
        border-color: #333 !important;
    }
    
    .buttonDeactivate:hover {
        color: white !important;
        background-color: red;
    }
    
    .buttonActivate:hover {
        color: white !important;
        background-color: green;
    }
    
    .buttonOpen:hover {
        color: white !important;
        background-color: blue;
    }
}
