& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="event-vc"] {
        #bandName:hover {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }
        
        .requestButt:hover {
            color: white;
            background-color: green;
        }
        
        .checkImg {
            display: none;
            margin-top: -2.3em;
        }
    }
}