& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-vc"] {
        #map {
            width: 500px;
            height: 400px;
            background-color: #CCC;
        }
        #windowLink {
            color: blue;
            font-size: 1.5em;
        }
        #windowLink:hover {
            text-decoration: underline;
            color: darkblue;
        }
    }
}
